<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>新一代经营分析系统</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon">
<!--    <link rel="stylesheet" href="https://js.arcgis.com/3.28/esri/css/esri.css">-->
</head>
<body>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="root"></div>
<script src="/resource/??echarts.min.js,html2canvas.min.js"></script>
<!--<script type="text/javascript">-->
<!--  const name = "http://"+window.location.hostname+":"+window.location.port;-->
<!--  window.dojoConfig = {-->
<!--    async: true,-->
<!--    packages: [-->
<!--      {-->
<!--        name: 'app',-->
<!--        location:name-->
<!--      }-->
<!--    ]};-->
<!--</script>-->
<!--<script type="text/javascript" src="https://js.arcgis.com/3.28/"></script>-->
<!--<script type="text/javascript">-->
<!--  window.AMDRequire = window.require;-->
<!--</script>-->
</body>
</html>
