@back-red: #C91717;
@font-white: #FFFFFF;


.tableHeader{
  margin: 14px 20px 14px 2px;
  .tableTitle{
    font-size: 18px;
    .redBac{
      display: inline-block;
      width: 10px;
      height: 18px;
      vertical-align: middle;
      margin-right: 10px;
      background: @back-red;
    }
  }
  .tableBtn{
    float: right;
    .buttons{
      display: inline-block;
      margin-right: 40px;
      .modelBtn, .saveBtn, .outerBtn{
        float: left;
        margin: 0 6px;
        cursor: pointer;
        .templateImg{
          width: 22px;
          height: 22px;
        }
        .saveImg{
          width: 16px;
          height: 16px;
          margin-right: 2px;
        }
        .outerImg{
          width: 18px;
          height: 18px;
          margin-right: 2px;
        }
      }
    }
    .takeUp{
      position: relative;
      top: -6px;
    }
  }
}
.takeUpBox{
 position: relative;
}

.tableData{
  padding-right: 20px;
  :global{
    .ant-table-tbody>.ant-table-row.antd-pro-components-benchmarking-table-data-rowClass1.ant-table-row-level-0>td>span{
          cursor: default;
        //   border: 1px solid red;
    }
    .ant-table-thead > tr > th{
      border-bottom: none;
    }
    .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on{
      color: #c81716;
    }
    .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td,
    .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td{
      padding: 8px 12px;
      word-break: keep-all;
    }
    .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th,
    .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th{
      padding: 12px 8px 0 8px;
      word-break: keep-all;
    }
  }
}

.tableClass{
  cursor: pointer;
}
.tablePro{
  border-right: 1px solid  #ECECEC;
}
.rowHeader{
  background: #FAFAFA;
  font-size: 12px;
}
.rowDouble{
  background: #F0F3F7;
}
.rowSingle{
  background: @font-white;
}
.rowClass1{
  background: @font-white;
  cursor: auto;
};
.redFont{
  cursor: pointer;
  color: #ff0000;
}
.greenFont{
  color: #339900;
  cursor: pointer;
}
:global{
  .ant-modal-title{
    text-align: left;
  }
}

.trendHeader{
  font-size: 20px;
  font-weight: 400;
  font-family: "Microsoft YaHei";
}
.tableTrend{
  width: 100%;
  margin-top: 20px;
  display: flex;
  border-bottom: 1px solid #CCC;
}

.benchMark{
  //width: 80px;
  //height: 24px;
  padding: 0 10px;
  //border-bottom: 1px solid #CCC;
  cursor: pointer;
}
.selectBenchMark{
  //width: 80px;
  //height: 24px;
  padding: 0 10px;
  color: @back-red;
  border-bottom: 1px solid @back-red;
  cursor: pointer;
}

.benchMarkBlank{
  height: 24px;
  width: 86%;
  border-bottom: 1px solid #CCC;
  display: none;
}
.trendOption{
  float: right;
  padding-top: 3px;
  .benchMarkProv{
    display: inline-block;
    margin: 10px 30px;
    .benchTitle{
      position: relative;
      top: -8px;
    }
    .prov{
      display: inline-block;
      float: right;
      position: relative;
      top: -10px;
      width: 160px;
      height: 30px;
      line-height: 30px;
      border: 1px dotted #CCC;
      text-align: center;
      cursor: pointer;
      .areaName{
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap
      }
    }
  }
  .clickBtn{
    display: inline-block;
    position: relative;
    top: -8px;
    margin: 10px 10px 10px 50px;
  }
}

.trendChart{
  width: 1100px;
  height: 400px;
}
.modalLeft{
  width: 400px;
  height: 290px;
  position: relative;
  left: -100px;
  top: -32px;
  background: #fafafa;
  z-index: 100;
  border-radius: 6px;
}
.modalLeftTop{
  width: 100%;
  text-align: left;
}
.permissionsOuter{
  display: inline-block;
  position: relative;
  left: 4%;
  margin: 4px 0;
  :global{
    .ant-tag-checkable-checked {
      background-color: #c91717;
    }
    .ant-tag{
      margin-right: 0;
      border: 1px solid #e7e7e7;
    }
    .ant-tag-checkable:not(.ant-tag-checkable-checked):hover{
      color:#333;
      border: 1px solid #e7e7e7;
    }
  }
}
.modalLeftBottom{
  position: relative;
  color: #333;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  .provItem{
    width: 20%;
    height: 36px;
    display: flex;
    justify-content: left;
    align-items: center;
    span{
      cursor: pointer;
    }
  }
}
.cityOuter{
  position: absolute;
  width: 60%;
  height: 140px;
  z-index: 12;
  background-color: #fff;
  left: 15%;
  top: 15%;
  border: 1px solid #e4e4e4;
  box-shadow: 0 4px 7px rgba(153, 153, 153, 0.1);
  border-radius: 6px;
  overflow: auto;
  color: #333;
  .closeCityModal{
    float: right;
    margin: 0 4px;
  }
  .cityBox{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-left: 6px;
    .cityCheckBox{
      font-size: 14px;
      font-family: "Microsoft YaHei";
      margin: 4px 2px;
    }
  }
}
.triangle {
  position: relative;
  left: 34px;
  top: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #999;
}
.closeTemplate{
  color: #333;
}

.saveTemplate, .saveTemplate:hover{
  color: @font-white;
  background: @back-red;
  cursor: pointer;
  border: 1px solid;
}

.templateTitle{
  margin: 15px 6px;
  font-size: 12px;
  .title{
    position: absolute;
  }
  .templateValue{
    display: inline-block;
    margin-left: 90px;
    width: 330px;
    word-break:break-all;
  }
  .more{
    color: @back-red;
    cursor: pointer;
    position: absolute;
  }
}
.inputTitle{
  margin: 30px 6px;
  font-size: 12px;
  .inputTemplateName{
    width: 350px;
    height: 26px;
    margin-left: 24px;
    padding-left: 8px;
    border: 1px solid #666;
    border-radius: 4px;
  }
}
.sucImg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
// 1024分辨率
@media only screen and (min-width: 961px) and (max-width: 1100px){
  .tableHeader{
    .tableTitle {
      font-size: 16px;
    }
    .tableBtn {
      font-size: 12px;
      .buttons {
        .modelBtn, .saveBtn, .outerBtn{
          .templateImg{
            width: 20px;
            height: 20px;
          }
          .saveImg{
            width: 14px;
            height: 14px;
            margin-right: 2px;
          }
          .outerImg{
            width: 16px;
            height: 16px;
            margin-right: 2px;
          }
        }
      }
    }
  }
  .tableData{
    :global{
      .ant-table{
        font-size: 12px;
      }
      .ant-table-scroll table .ant-table-fixed-columns-in-body{
        width: 60px;
      }
    }
  }
  .clickBtn{
    :global{
      .ant-btn{
        height: 22px;
        font-size: 9px;

      }
    }
  }
  .takeUpBox{
    top: 2px;
  }
  .trendHeader{
    font-size: 14px;
  }
  .trendOption{
    margin-top: 10px;
    .benchMarkProv{
      margin:0;
      .prov{
        width:120px;
        height: 20px;
        margin-right: 10px;
        line-height: 18px;
      }
    }
  }
  .triangle{
    top: -5px;
  }
  .trendChart{
    width: 790px;
    height: 340px;
  }
  .modalLeft{
    width: 320px;
    height: 250px;
    left: -80px;
    top: -18px;
    :global{
      font-size: 8px;
      line-height: 30px;
    }
    .modalLeftTop{
      .permissionsOuter{
        :global{
          .ant-tag{
            font-size: 10px;
          }
        }
      }
    }
    .modalLeftBottom{
      width: 310px;
      .provItem{
        height: 30px;
      }
    }
  }
  .rowHeader{
    font-size: 9px;
  }
}

// 800 分辨率
@media only screen and (min-width: 700px) and (max-width: 960px) {
  .tableHeader {
    .tableTitle {
      font-size: 14px;
    }
    .tableBtn {
      .buttons {
        .modelBtn, .saveBtn, .outerBtn{
          height: 20px;
          line-height: 20px;
          .templateImg{
            width: 18px;
            height: 18px;
          }
          .saveImg{
            width: 12px;
            height: 12px;
            margin-right: 2px;
          }
          .outerImg{
            width: 14px;
            height: 14px;
            margin-right: 2px;
          }
        }
      }
    }
  }
  .takeUpBox{
    top: 3px;
  }
  .tableData{
    :global{
      .ant-table{
        font-size: 12px;
      }
      .ant-table-scroll table .ant-table-fixed-columns-in-body{
        width: 60px;
      }
    }
  }
  .clickBtn{
    :global{
      .ant-btn{
        height: 22px;
        font-size: 9px;

      }
    }
  }
  .trendHeader{
    font-size: 14px;
  }
  .trendOption{
    margin-top: 10px;
    .benchMarkProv{
      margin:0;
      .prov{
        width:120px;
        height: 20px;
        margin-right: 10px;
        line-height: 18px;
      }
    }
  }
  .triangle{
    top: -6px;
  }
  .trendChart{
    width: 610px;
    height: 250px;
  }
  .modalLeft{
    width: 320px;
    height: 236px;
    left: -80px;
    top: -20px;
    :global{
      font-size: 8px;
      line-height: 30px;
    }
    .modalLeftTop{
      .permissionsOuter{
        :global{
          .ant-tag{
            font-size: 10px;
          }
        }
      }
    }
    .modalLeftBottom{
      width: 310px;
      .provItem{
        height: 28px;
      }
    }
  }
  .rowHeader{
    font-size: 9px;
  }
}
// 1920 分辨率
@media only screen and (min-width: 1870px){
  .modalLeft{
    font-size: 14px;
    :global{
      .ant-tag-checkable{
        font-size: 14px;
      }
    }
  }
  .tableTrend{
    font-size: 18px;
  }
  .trendOption{
    font-size: 16px;
  }
  .tableBtn{
    font-size: 16px;
  }
  .rowHeader{
    font-size: 14px;
  }
}



